---
interface Props {
  lang: 'en' | 'es';
}

import Layout from '@/layouts/Layout.astro';

// Components
import AboutMe from '@/components/AboutMe.astro';
import Experience from '@/components/Experience.astro';
import Hero from '@/components/Hero.astro';
import Projects from '@/components/Projects.astro';

const text = {
  en: {
    title: 'contrerasCode Portfolio ~ Web Developer and Programmer.',
    description: 'contrerasCode Portfolio.',
  },
  es: {
    title: 'Portafolio de contrerasCode ~ Desarrollador y Programador Web.',
    description: 'Portafolio de contrerasCode.',
  },
};

const { lang } = Astro.props;
---

<Layout
  title={text[lang].title}
  description={text[lang].description}
  lang={lang}
>
  <div
    class="max-w-full m-auto mt-5 pb-20 px-1 md:px-4 lg:w-[1000px] p-1 md:p-4 leading-normal"
  >
    <Hero lang={lang} />
    <Experience lang={lang} />
    <Projects lang={lang} />
    <AboutMe lang={lang} />
  </div>
</Layout>
